<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
    <stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value="src/ucmis/m2t/property/generic.properties&#13;&#10;src/ucmis/m2t/property/ddicdi.properties"/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/ucmis.m2t/model/ucmis_canonical-unique-names-eclipse.xmi"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/ucmis.m2t/generated"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ucmis.m2t/src/ucmis/m2t/main/M2tMaster.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ucmis.m2t.main.M2tMaster"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ucmis.m2t"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;E:/Git/ucmis.m2t/model/ucmis_canonical-unique-names-eclipse.xmi&quot; &quot;E:/Git/ucmis.m2t/generated&quot; &quot;src/ucmis/m2t/property/generic.properties&quot; &quot;src/ucmis/m2t/property/ddicdi.properties&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ucmis.m2t"/>
</launchConfiguration>
